[submodule "components/SensorLib"]
	path = components/SensorLib
	url = https://github.com/lewisxhe/SensorLib.git
[submodule "components/arduinoFFT"]
	path = components/arduinoFFT
	url = https://github.com/kosme/arduinoFFT.git
[submodule "components/ArduinoJson"]
	path = components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "libs/azure-iot-middleware-freertos"]
	path = libs/azure-iot-middleware-freertos
	url = https://github.com/Azure/azure-iot-middleware-freertos.git
