[submodule "components/SensorLib"]
	path = components/SensorLib
	url = https://github.com/lewisxhe/SensorLib.git
[submodule "components/arduinoFFT"]
	path = components/arduinoFFT
	url = https://github.com/kosme/arduinoFFT.git
[submodule "components/azure-sdk-for-c-arduino"]
	path = components/azure-sdk-for-c-arduino
	url = https://github.com/HebertWP/azure-sdk-for-c-arduino.git
